@import url("null.css");
@import url("fonts.css");
@import url("components.css");

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1054px;
  margin: 0 auto;
  padding-inline: 15px;
}

[class*="page__"],
.footer {
  padding-block: 64px;
}

@media (max-width: 767.98px) {
  [class*="page__"],
  .footer {
    padding-block: 32px;
  }
}

h1 {
  font-family: "Bodoni 72", serif;
  font-size: 96px;
  text-transform: uppercase;
}

.hero {
  position: relative;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
}

.hero__container {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  align-items: center;
  padding-block: 7.76699svh;
  row-gap: 15.533981svh;
}

.hero__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 3.883495svh;
}

.hero__menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 15px;
}

.hero__menu a {
  transition: all 0.3s;
}

@media (any-hover: hover) {
  .hero__menu a:hover {
    text-decoration: underline;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 2.427184svh;
}

.hero__label {
  font-size: 24px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 66px;
  }
  .hero__menu a {
    font-size: 20px;
  }
}

.about__header {
  margin-bottom: 32px;
}

.about__content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about__text {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.about__text:not(:last-child) {
  margin-bottom: 32px;
}

.about__text p:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .about__text {
    font-size: 16px;
  }
  .about__text:not(:last-child) {
    margin-bottom: 20px;
  }
  .about__header {
    margin-bottom: 20px;
  }
}

.activations {
  background-color: #f4f4f4;
}

.activations__container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
}

.activations__items {
  display: flex;
  align-self: stretch;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 128px;
  row-gap: 96px;
}

@media (max-width: 767.98px) {
  .activations__items {
    column-gap: 60px;
    row-gap: 70px;
  }
}

.activations__item {
  flex: 1 1 120px;
  text-align: center;
}

.activations__item img:not(:last-child) {
  margin-bottom: 16px;
}

.activations__label,
.activations__link {
  font-size: 20px;
  letter-spacing: 0.05em;
}

.activations__label {
  white-space: nowrap;
}

.activations__link {
  text-transform: uppercase;
}

.activations__link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d8ae5e;
}

@media (max-width: 767.98px) {
  .activations__label,
  .activations__link {
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .activations__items {
    justify-content: flex-start;
    row-gap: 25px;
  }
  .activations__item {
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 20px;
    flex: 1 1 50%;
  }
  .activations__item img {
    width: 40px;
  }
  .activations__item img:not(:last-child) {
    margin-bottom: 0px;
  }
}

.amenities__header:not(:last-child) {
  margin-bottom: 64px;
}

.amenities__section:not(:last-child) {
  margin-bottom: 74px;
}

.section-amenities__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.15em;
}

.section-amenities__title:not(:last-child) {
  margin-bottom: 32px;
}

.section-amenities__items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.section-amenities__item {
  border-radius: 4px;
  overflow: hidden;
  flex-basis: 291px;
}

.section-amenities__item:nth-child(6n + 3),
.section-amenities__item:nth-child(6n + 4) {
  flex-basis: 408px;
}

.section-amenities__item:nth-child(6n + 3) .section-amenities__link,
.section-amenities__item:nth-child(6n + 4) .section-amenities__link {
  aspect-ratio: 408 / 286;
}

@media (any-hover: hover) {
  .section-amenities__item:hover .section-amenities__link img {
    transform: scale(1.03);
  }
}

.section-amenities__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  aspect-ratio: 291 / 286;
}

.section-amenities__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
}

.section-amenities__label {
  position: relative;
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.15em;
  line-height: 1.2;
  color: #fff;
}

.section-amenities__link img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

@media (max-width: 1049.98px) {
  .section-amenities__items {
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .amenities__header:not(:last-child) {
    margin-bottom: 32px;
  }
  .amenities__sections:not(:last-child) {
    margin-bottom: 32px;
  }
  .section-amenities__title {
    font-size: 20px;
  }
}

.contacts {
  background-color: #f4f4f4;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.contacts__container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.contacts__container ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  letter-spacing: 0.05em;
}

.contacts__phone::before {
  content: url("../img/contacts/phone.svg");
}

.contacts__mail::before {
  content: url("../img/contacts/mail.svg");
}

.contacts__map::before {
  content: url("../img/contacts/map.svg");
}

@media (any-hover: hover) {
  .contacts__container ul li a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .contacts__container {
    gap: 32px;
  }
  .contacts__container ul {
    gap: 15px;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 16px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  letter-spacing: 0.05em;
}

.footer__text {
  line-height: 1.5;
  text-align: center;
}

.footer__copy {
  text-align: center;
}

.footer__copy p:not(:last-child) {
  margin-bottom: 15px;
}

.footer__copy a {
  font-weight: 600;
}

@media (any-hover: hover) {
  .footer__text a:hover,
  .footer__copy a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .footer__container {
    gap: 32px;
  }
}
